<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wpf.listactivity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ListActivity">
        <activity android:name="com.wpf.listactivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NoRefreshMultiListTestActivity"/>
        <activity android:name=".NoRefreshSingleListTestActivity"/>
        <activity android:name=".RefreshSingleListTestActivity"/>
        <activity android:name=".RefreshMultiListTestActivity"/>
        <activity android:name=".LoadFragmentTestActivity"/>
    </application>

</manifest>